body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:transparent;
    &:focus {
        outline: none;
    }
}


html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background: url(../images/1-1.jpg) no-repeat;
    background-size: 100%;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float:right;
}

.hide{
    display: none;
}

.show{
    display: block;
}
.tool-tips {
  width: 2.03rem;
  height: 4.59rem;
  position: absolute;
  top: -0.8rem;
  right: 1.0rem;
  background-image: url("~@/images/WechatIMG2.png");
  background-position: 0 50%;
  background-size: 100% 100%;
}
.num-tips {
  font-family: '黑体';
  font-weight: 600;
  color: #a57c50;
  position: absolute;
  top: 3.47rem;
  left: 0.29rem;
  right: 0.16rem;
  text-align: center;
}
.button {
   width: 3.79rem;
   height: 1.31rem;
   background-size: contain;
   background-repeat: no-repeat; 
   display: inline-block;
   margin: 0 auto;
   background-position: 50%;
}
.container {
    text-align: center;
    padding-top: 2.56rem;
}
.container-style {
    background-size: 100%;
    width: 8.21rem;
    height: 7.25rem;
    margin: 0 auto;
    position: relative;
}